#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.dog-name:hover{
  text-decoration: underline aliceblue;
  cursor: pointer;
}

.header{
  font-family: sans-serif;
  text-decoration: underline black;
}

.puppyApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(120, 39, 90);
  padding-bottom: 10%;
  padding-top: 10%;
  border: 2px solid white;
  font-family: sans-serif;
}