/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid white;
  font-family: sans-serif;
}*/
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
  max-width: 1280px;
  margin-left: 15vh;
  text-align: center;
  
}
.dog-name:hover{
  text-decoration: underline aliceblue;
  cursor: pointer;
}

.header{
  font-family: sans-serif;
  text-decoration: underline black;
}

.puppyApp{
  background-color:rgb(120, 39, 90);
  border: 2px solid white;
  font-family: sans-serif;
}